body {
  margin: 0%;
  padding: 0%;
  display: flex;
  justify-content: center;
  /* background-color: rgb(0, 147, 184); */
  background: linear-gradient(-40deg, rgb(66, 37, 235),
      rgb(13, 111, 136), rgb(42, 166, 197), rgb(87, 212, 129), rgb(0, 204, 255));
  background-size: 400% 400%;
  animation: bg 12s ease infinite;
}

@keyframes bg {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 50%;
  }

}

.pro-card {
  /* border: 2px solid #000000; */
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  /* background-color: #1fddff; */
  box-shadow: 0px 0px 20px 20px #3f3f3f59;
}

.pro-card img {
  width: 250px;
  height: 250px;
  border-radius: 150px;
  padding: 20px;
  margin-left: 120px;
  /* border: none; */
  /* box-shadow: 0px 0px 20px 5px #000000; */
}

.pro-card .social-media h1 {
  display: inline;
  align-items: center;
  font-size: 40px;
  margin-left: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* margin-top: -10px; */
}

a {
  text-decoration: none;
  color: black;
}

.pro-card .social-media .icons {
  margin-left: 20px;
  padding: 10px;
  font-size: 37px;
  /* margin-top: ; */
}

.pro-card .social-media {
  width: 500px;
  /* background-image: linear-gradient(rgb(243, 207, 0), rgb(209, 178, 0)); */
  background-color: white;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  margin-top: 10px;
  border-radius: 20px;
  cursor: pointer;
  /* box-shadow: 8px 12px 11px 0px #519ba9; */
  /* box-shadow: 0px 0px 20px 20px #3f3f3f59; */
}

h3 {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 130px;
  margin-top: -3px;
  font-size: 24px;
}
p{
  margin-left: 127px;
  margin-top: -10px;  
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media only screen and (max-width: 425px) {
  .pro-card {
    margin-top: 50px;
  }

  .pro-card img {
    width: 160px;
    height: 160px;
    padding: 10px;
    margin-left: 91px;
  }

  .pro-card .social-media {
    width: 350px;
    margin-top: 20px;
  }

  .pro-card .social-media h1 {
    font-size: 17px;
  }

  .social-media .social-media .icons {
    font-size: 17px;
  }

  p{
    margin-left: 46px;
    margin-top: -10px
  }

  h3{
    margin-left: 49px;
  }
}


/* ------------------------------------------ */

@media only screen and (max-width: 375px) {
  .pro-card {
    margin-top: 50px;
  }

  .pro-card img {
    width: 180px;
    height: 180px;
    padding: 5px;
    margin-left: 45px;
  }

  .pro-card .social-media {
    width: 275px;
    margin-top: 20px;
  }

  .pro-card .social-media h1 {
    font-size: 20px;
    margin-left: 25px;
  }

  .social-media .social-media .icons {
    font-size: 17px;
  }

  h3{
    margin-left: 29px;
    font-size: 20px;
  }

  p{
    margin-left: 30px;
    font-size: 13px;
  }
}